{% extends "registration\login.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
  <form method="POST">
      {% csrf_token %}
      
      <div class="mb-2 mt-2">
          <label class="form-label text-xxs text-dark"> Password <span class="text-danger">*</span></label>
          <input class="form-control border-radius-lg text-xxs" type="password" id="id_new_password1" name="new_password1" required>
          {% if form.errors.new_password1 %}
            <span class="text-danger">{{ form.errors.new_password1 }}</span>
          {% endif %}
      </div>
      <div class="mb-2">
          <label class="form-label text-xxs text-dark"> Confirm Password <span class="text-danger">*</span></label>
          <input class="form-control border-radius-lg text-xxs" type="password" id="id_new_password2" name="new_password2" required>
          {% if form.errors.new_password2 %}
            <span class="text-danger">{{ form.errors.new_password2 }}</span>
          {% endif %}
      </div>
      <div class="text-center">
        <button type="submit" class="btn bg-gradient-edit border-radius-lg btn-sm text-white shadow-dark w-100 padding mt-3">Reset Password</button>
      </div>

  </form>
{% endblock %}