{% extends "registration\login.html" %}
{% load static %}
{% block title %}Password Reset Confirmation{% endblock %}
{% block content %}
                        
  <div class="text-center mt-3 ">
      <p class="text-left fw-bold text-dark" >Password Reset Request Received </p>

      <p class="text-left text-xxs text-muted"> We have received your request to reset your password. Please check your email for further instructions. If you don't receive an email within a few minutes, please check your spam folder. </p>
          
      <p class="text-left text-xxs text-muted"> Thank you for using our services.</p>
      
  </div>
{% endblock %}