{% extends 'login.html' %} {% load static %} {% block content %}
<h3 class="title fs-4 text-center fw-bold text-capitalize">RESET PASSWORD</h3>
<span class="text-xs mx-3 mt-3 mb-3 text-decoration-none">Please choose a password of your choice</span>
<div class="form-group shadow-sm">
    <span class="input-icon text-center d-inline-block"><i class="fa fa-lock"></i></span>
    <input class="form-control " type="password" name="password" id="password" placeholder="Password" required>
</div>
<div class="form-group shadow-sm">
    <span class="input-icon text-center d-inline-block"><i class="fa fa-lock"></i></span>
    <input class="form-control " type="password" name="confirm_password" id="confirm_password" placeholder="confirm Password" required>
</div>
<div id="password-strength" class="d-none ">
    <h6 class="weak-password text-red text-danger fw-lighter d-none custom-small-text text-center">Weak Password (Password length is not than 8 characters)</h6>
    <h6 class="medium-password text-warning fw-lighter d-none text-sm custom-small-text text-center">Medium (should include alphabets, numbers and special characters.)</h6>
    <h6 class="strong-password text-success fw-lighter d-none text-sm custom-small-text text-center">Strong Password</h6>
</div>
<div class="mt-4 content d-flex justify-content-center align-items-center">
    <button type="submit" class="btn btn-danger rounded-pill shadow-sm border-0 w-100 validate" id="validate" value="click">Continue</button>
</div>
{% endblock %} {% block javascript %}
<script>
    const RESEND_URL = "{% url 'password_update' %}";
    const DASHBOARD_URL = "{% url 'app_dashboard'%}"
</script>
<script src="{% static 'scripts/set_password.js'%}"></script>
<script src="{% static 'scripts/password_strength.js'%}"></script>
{% endblock %}