{% extends "registration\login.html" %}
{% load static %}
{% block title %}Reset Complete {% endblock %}
{% block content %}

<div class="text-center mt-3 text-dark">
  <h4 class="alert-heading">Password Reset Successful</h4>
  <p>Your password has been successfully reset. You can now log in to your account using the new password.</p>
  <hr>
  
    <a href="{% url 'login' %}">
      <button type="button" class="btn btn-success mb-3 rounded text-sm mt-3">Sign in</button>
    </a>
</div>
{% endblock %}